@inherits LayoutComponentBase

<div class="empty-layout">
    @Body
</div>

 private MudTheme _theme = new MudTheme()
    {
        PaletteLight = new PaletteLight()
        {
            Primary = ThemeColors.WillowGreen,
            Secondary = ThemeColors.SoftSage,
            DrawerBackground = ThemeColors.Bone,
            TextPrimary = ThemeColors.TextoGris,
            ActionDefault = ThemeColors.TextoGris
        }
    };